In [3]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.model_selection import cross_val_score
from sklearn.tree import DecisionTreeClassifier
import time
import datetime
from collections import Counter

In [4]:
# read the dataset
df = pd.read_csv('data_35000.csv')

df.head()

,Dates,DayOfWeek,PdDistrict,Address,X,Y,Category
0,2/21/2013 2:35,Thursday,MISSION,TREAT AV / 17TH ST,-122.413592,37.763822,PROSTITUTION
1,2/19/2007 18:31,Monday,SOUTHERN,MCALLISTER ST / JONES ST,-122.411979,37.780904,OTHER OFFENSES
2,4/2/2012 19:11,Monday,PARK,1500 Block of HAIGHT ST,-122.447761,37.769846,LIQUOR LAWS
3,1/1/2006 18:30,Sunday,BAYVIEW,25TH ST / WISCONSIN ST,-122.398454,37.752195,ROBBERY
4,2/21/2014 20:10,Friday,INGLESIDE,3200 Block of MISSION ST,-122.420395,37.744688,NON-CRIMINAL

In [ ]:
# Our project is to predict Category(label) from 6 features(Dates, DayOfWeek, PdDistrict, Address,X(Longitude),Y(Latitude)).

# First, split the dataset into training and testing

# then try random forest, ada boost, Logistic regression, ANN classifier, and get accuracy (ideally, over 80%)